html
  head
    meta(charset='UTF-8')
    title Homework #05 - #{title}
    link(rel="icon" type="image/png"  href="/static/favicon.png")
    block styles
      link(href='/static/styles.css' rel='stylesheet')
  body
    block content
